Package: com.sectorus.blissfulignorance
Name: BlissfulIgnorance
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sectorus
Author: Sectorus
Section: Tweaks
